* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4e1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registration-container {
    background: #1e3a5e;
    padding: 2rem;
    border-radius: 30px; /* زوايا دائرية كبيرة للحاوية */
    box-shadow: 0 10px 25px rgb(17, 212, 225);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #c1bcbc;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #fcfafa;
    border-radius: 50px; /* جعل خانات الإدخال بيضاوية الشكل */
    outline: none;
    transition: border-color 0.3s;
    font-size: 16px;
}

input:focus {
    border-color: #f8fbff;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #18bb06;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px; /* جعل الزر بيضاوي الشكل */
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1rem;
}

.submit-btn:hover {
    background-color: #1651c6;
}

.login-link {
    margin-top: 1.5rem;
    font-size: 14px;
    color: #e8ebec;
}

.login-link a {
    color: #128cd8;
    text-decoration: none;
}